header {
  background: url("img/congtruong_2.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center !important;
  color: white;
  text-shadow: 3px 3px 0 black;   
  font-family: "Roboto", serif;
  font-size: 40px;
}

.intro {
  font-family: "Crimson Pro";
  font-size: 25px;
  padding-left: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  background-color: lightgray;
}

.tenclb {
  font-size: 30px;
  font-family: "Readex Pro";
}

.noidungclb {
  font-size: 20px;
  font-family: "Crimson Pro";
}

.title {
  text-align: center;
  font-family: "Alexandria";
  font-size: 50px;
}

.table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.cell_img {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 500px;
  text-align: center;
}

.cell_text_1 {
  width: 50%;
}

.cell_text_2 {
  width: 50%;
  text-align: right;
}

.img {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 500px;
  border-radius: 3%
}

.img_logoclb {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 500px;
  border-radius: 50%;
  border-color: lightgray;
  border-style: solid;
}

footer {
  background-color:lightgray;
  margin: 1px;
  padding: 10px;
}

.menu {
  font-size: 120%;
  text-decoration: none;
}

.list_footer {
  font-size: 18px;
}

.chitiet {
  font-size: 20px;
  font-weight: bold;
}

a {
  color: navy;
}

