.header {
  background: url("img/congtruong_2.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center !important;
  color: white;
  text-shadow: 3px 3px 0 black;   
  font-family: "Roboto", serif;
  font-size: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  background-color: lightgray;
}

.tenclb {
  font-size: 30px;
  font-family: "Readex Pro";
}

.noidungclb {
  font-size: 18px;
  font-family: "Crimson Pro";
}

.title {
  text-align: center;
}

.table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.cell_img {
  width: 50%;
}

.cell_text {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.img {
  width: 100%;
  height: 100%;
}

footer {
  background-color:lightgray;
  margin: 1px;
  padding: 10px;
}

.menu {
  font-size: 120%;
  text-decoration: none;
}

.list_footer {
  font-size: 18px;
}